# Supabase Project
VITE_SUPABASE_URL="https://[YOUR-PROJECT-ID].supabase.co"
VITE_SUPABASE_ANON_KEY="[YOUR-ANON-KEY]"

# Backend API URL (for local development)
VITE_API_URL="http://localhost:3000/api"

userTest="juanTest"
PasswordTest="V-123"
